.info {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 220px;
  @include tablet {
    padding-top: 170px;
  }
  @include mobile {
    padding-top: 150px;
  }
  @include mobile-s {
    padding-top: 120px;
  }
}
