.about {
  display: flex;
  justify-content: space-between;
  @include tablet {
    text-align: center;
    justify-content: center;
    padding-left: clamp(1.688rem, -15.75rem + 31vw, 7.5rem);
  }
  @include mobile {
    padding-left: unset;
  }
  &__text {
    font-size: var(--font-size-xxl);
  }

  &__text-accent {
    color: var(--color-accent);
    font-weight: 500;
  }
}
.about__br {
  padding-block: 10px;
}
