.about {
  display: flex;
  justify-content: space-between;
  &__text {
    font-size: var(--font-size-xxl);
  }

  &__text-accent {
    color: var(--color-accent);
    font-weight: 500;
  }
}
.about__br {
  padding-block: 10px;
}
