@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "./mixins.scss";
@import "./variables.scss";
@import "./reset.scss";

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: var(--font-size-l);
  scroll-behavior: smooth;
  height: 100%;
}
body.overlay {
  overflow: hidden;
}

.container {
  max-width: var(--container-size);
  padding-inline: 15px;
  margin-inline: auto;
}
.App {
  height: 100%;
  position: relative;
}
.overlay.overlay__clear {
  animation: overlayDel 1.5s ease-in-out forwards;
  pointer-events: none; /* чтобы не кликалось во время анимации */
}

@keyframes overlayDel {
  0% {
    opacity: 1;
    transform: translateY(0%);
    /* если есть фон */
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
    background-color: rgba(25, 24, 32, 0.7);
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--color-dark);
  z-index: 1111;
  left: 0;
  top: 0;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    position: relative;
    left: -60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px 40px 0px;
    top: -30px;
    @include mobile-s {
      left: -80px;
      top: -80px;
    }
  }

  &__item {
    opacity: 0;
    transform: rotate(0deg) translateX(0);
    animation: fallRight 0.5s forwards;
  }

  &__image {
    width: 100px;
    @include tablet {
      width: 80px;
    }
  }
}
.overlay__item {
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      margin-top: $i * 70px;
    }
  }
}

@keyframes fallRight {
  0% {
    opacity: 0;
    transform: rotate(0deg) translateX(0);
  }
  100% {
    opacity: 1;
    transform: rotate(30deg) translateX(20px);
  }
}
